.App {
  text-align: center;
  background-color: #cfbaf0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
}
#search {
  border-radius: 0.5rem;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
  background-color: white;
  color: black;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  background-color: #90dbf4;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card img {
  width: 75%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

body {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  
  color: black;
  padding: 0.1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}

.text-right {
  text-align: right;
}
img.small {
  max-height: 12 rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 3rem;
}
button.remove {
  background-color: #f04040;
  width: 3rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.block {
  background-color: #8eecf5;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;

}

#logo {
  color: #fff;
  font-size: 1.25em;
  font-family: Helvetica;
  margin-right: 0.5rem;
}

.categories a{
  padding: 1rem;
  border-radius: 1rem;
  margin: 3rem;
  background-color: #98f5e1;
}


a {
  padding: 0.1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: pink

}
.catologlist {
  margin-top: 2rem;
}

html {
  background-color: #cfbaf0;
}

label {
  color: white;
  font-weight: bold;
  display: block;
  padding: 0.1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
